@model TiendaDeportiva.Models.Product

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form asp-action="SaveProduct" method="POST">
            <div>
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre"/>
            </div>

            <div>
                <label asp-for="Precio"></label>
                <input asp-for="Precio"/>
            </div>

            <div>
                <label asp-for="Color"></label>
                <input asp-for="Color"/>
            </div>

            <div>
                <input type="submit" value="Guardar Producto">
            </div>
        </form>
    </div>
</body>
</html>