@model TiendaDeportiva.Models.UsuarioModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/EditUserStyle.css">
    <title>Document</title>
</head>
<body>
    <div id="WrapperScreen">
        @* <a asp-controller="Store" asp-action="ListUsersAsync">Volver</a> *@
        <form asp-action="UpdateUser" method="POST">
            <input type="hidden" asp-for="Id">
            <div>
                <label class="InfoFormulario" asp-for="Nombre"></label>
                <input asp-for="Nombre"/>
            </div>

            <div>
                <label class="InfoFormulario" asp-for="Apellido"></label>
                <input asp-for="Apellido"/>
            </div>

            <div>
                <label class="InfoFormulario" asp-for="Edad"></label>
                <input asp-for="Edad"/>
            </div>

            <div>
                <input type="submit" value="Guardar Producto">
            </div>
        </form>
    </div>
</body>
</html>